@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #fff;
  --background-secondary: hsl(240, 100%, 98.5%);
  --foreground: #111;
  --accent-slate-blue: #151e28;
  --accent-blue: #3f51b5;
}

@layer base {
  .max-container {
    @apply max-w-3xl mx-auto lg:max-w-7xl;
  }
  .text-h2 {
    @apply py-2.5 mb-8 text-xl text-slate-700 font-bold sm:text-4xl;
  }
  .filter-panel-wrapper {
    @apply fixed top-0 left-0 z-20 h-screen overflow-y-scroll transition duration-300 bg-white shadow-xl lg:overflow-visible lg:relative lg:z-0 lg:h-auto lg:shadow-none;
  }
  .nav-dropdown-wrapper {
    @apply fixed top-0 z-20 w-[calc(100%-32px)] -translate-x-1/2 bg-white rounded-2xl left-1/2 lg:translate-x-0 lg:w-auto lg:static lg:bg-transparent shadow-2xl border lg:border-0 lg:shadow-none;
  }
  .search-results-box {
    @apply absolute w-full p-8 pt-2 -translate-x-1/2 md:pt-5 left-1/2 top-full md:w-80;
  }
  .search-input {
    @apply px-4 py-2 pr-10 bg-slate-100 rounded-3xl placeholder:text-gray-500;
  }
  .search-icon-wrapper {
    @apply absolute top-0 grid w-10 h-full text-gray-500 select-none -right-1 place-items-center;
  }
  .btn-primary {
    @apply font-medium text-white border shadow-2xl border-accent-slate-blue bg-accent-slate-blue hover:bg-slate-700 hover:border-slate-700;
  }
  .chevron {
    @apply absolute z-10 flex items-center justify-center w-12 h-12 text-2xl text-white transition -translate-y-1/2 bg-white rounded-full shadow-lg cursor-pointer hover:bg-accent-slate-blue hover:text-white top-1/2 text-accent-slate-blue;
  }

  button,
  input,
  a:focus-visible {
    @apply rounded-lg focus:outline-none focus-visible:ring focus-visible:ring-blue-500/50;
  }
}
